* {
    margin: 0px;
    padding: 0px;
}


/* Remove the navbar's default margin-bottom and rounded borders */

.navbar {
    margin-bottom: 0;
    border-radius: 0;
}


/* Add a gray background color and some padding to the footer */

footer {
    padding: 25px;
}


/* color fill*/

.f {
    color: white;
}

h3 {
    color: white;
}


/* color fill end*/

.carousel-inner img {
    width: 100%;
    /* Set width to 100% */
    margin: auto;
    min-height: 50px;
}


/* Hide the carousel text when the screen is less than 600 pixels wide */

@media (max-width: 600px) {
    .carousel-caption {
        display: none;
    }
}


/* Add a Room Info and Color Fill*/

#red {
    background-color: #337ab7;
}


/*color Fill*/

#red hr {
    /* Add a Room Info and Color Fill*/
    width: 300px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 5px;
    background-color: #f0f0f0;
    border-radius: 20px;
}


/*color End Fill*/

.text-justify {
    color: black;
}

h5 {
    color: white;
    background-color: #6d6e6a;
    height: 100px;
    width: 100%;
}


/*  Room Info Add a Image and Hover Fill*/

#img1 {
    width: 100%;
    height: 190px;
}

#img1:hover {
    box-shadow: 7px 7px 5px #ffffff;
}

.hov a:hover {
    color: #000408;
}


/*  Room Info Add a Image and Hover End Fill*/


/*Login Start*/

#primary {
    background-color: #1abc9c;
    color: black;
}

.forget a {
    text-decoration: none;
    color: #000408;
}

.forget a:hover {
    color: white;
}

.forget {
    /*margin-top:5px;*/
    padding-top: 10px;
}


/*Login Close*/

h1 {
    font-family: font-family: 'Lobster', cursive;
    color: #ffffff;
}

#top {
    margin: 0px;
}

.thumbnail a img:hover {
    box-shadow: 5px 5px 5px #000408;
}


/* Set height of the grid so .sidenav can be 100% (adjust as needed) */

#font {
    font-family: 'Abril Fatface', cursive;
    color: red;
    margin-top: 50px;
    /*padding-top:50px;
      height:auto;*/
}

.bg-1 {
    background-color: #1abc9c;
    /* Green */
    color: #ffffff;
}

#bt {
    float: right;
    margin-left: 15px;
    border-radius: 10px;
    border: none;
}

@media screen and (max-width:600px) {
    .frame {
        width: 100%;
    }
}

@media screen and (max-width:600px) {
    .amit {
        text-align: center;
    }
}

.Ac_Room_Text {
    font-family: 'Abril Fatface', cursive;
    color: black;
    text-shadow: 3px 3px 3px blue;
    text-align: center;
}

.Room_Text {
    font-family: 'Abril Fatface', cursive;
    color: #000000;
    text-align: center;
    size: 15px;
}


/*Footer*/

.site-footer {
    background-color: #26272b;
    padding: 45px 0 20px;
    font-size: 15px;
    line-height: 24px;
    color: #737373;
}

.site-footer hr {
    border-top-color: #bbb;
    opacity: 0.5
}

.site-footer hr.small {
    margin: 20px 0
}

.site-footer h6 {
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    margin-top: 5px;
    letter-spacing: 2px
}

.site-footer a {
    color: #737373;
}

.site-footer a:hover {
    color: #3366cc;
    text-decoration: none;
}

.footer-links {
    padding-left: 0;
    list-style: none
}

.footer-links li {
    display: block
}

.footer-links a {
    color: #737373
}

.footer-links a:active,
.footer-links a:focus,
.footer-links a:hover {
    color: #3366cc;
    text-decoration: none;
}

.footer-links.inline li {
    display: inline-block
}

.site-footer .social-icons {
    text-align: right
}

.site-footer .social-icons a {
    width: 40px;
    height: 40px;
    line-height: 40px;
    margin-left: 6px;
    margin-right: 0;
    border-radius: 100%;
    background-color: #33353d
}

.copyright-text {
    margin: 0
}

@media (max-width:991px) {
    .site-footer [class^=col-] {
        margin-bottom: 30px
    }
}

@media (max-width:767px) {
    .site-footer {
        padding-bottom: 0
    }
    .site-footer .copyright-text,
    .site-footer .social-icons {
        text-align: center
    }
}

.social-icons {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none
}

.social-icons li {
    display: inline-block;
    margin-bottom: 4px
}

.social-icons li.title {
    margin-right: 15px;
    text-transform: uppercase;
    color: #96a2b2;
    font-weight: 700;
    font-size: 13px
}

.social-icons a {
    background-color: #eceeef;
    color: #818a91;
    font-size: 16px;
    display: inline-block;
    line-height: 44px;
    width: 44px;
    height: 44px;
    text-align: center;
    margin-right: 8px;
    border-radius: 100%;
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear
}

.social-icons a:active,
.social-icons a:focus,
.social-icons a:hover {
    color: #fff;
    background-color: #29aafe
}

.social-icons.size-sm a {
    line-height: 34px;
    height: 34px;
    width: 34px;
    font-size: 14px
}

.social-icons a.facebook:hover {
    background-color: #3b5998
}

.social-icons a.twitter:hover {
    background-color: #00aced
}

.social-icons a.linkedin:hover {
    background-color: #007bb6
}

.social-icons a.dribbble:hover {
    background-color: #ea4c89
}

@media (max-width:767px) {
    .social-icons li.title {
        display: block;
        margin-right: 0;
        font-weight: 600
    }
}